<div class="recipe-container">
  <h1>Recipes</h1>

  <%= link_to 'New Recipe', new_recipe_path, class: 'new-recipe-button' %>
      <div class="recipe-list-inone">
      <% @recipes.each do |recipe| %>
        <div class="recipe-list">
          <div class="left">
            <%= link_to recipe.name, recipe %>
            <% if can?(:destroy, recipe) %>
              <%= button_to "Remove",
                            recipe,
                            method: :delete,
                            title: "Delete recipe",
                            class: "delete" %>
            <% end %>
          </div>
          Description: <%= recipe.description %>
        </div>
      <% end %>
      </div>

</div>
